table 
{ 
		width: 100%; 
		border-collapse: collapse; 
}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	tr:nth-of-type(even) { 
		background: #aaa; 
	}
	th { 
		background: #444; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

#tableA {
   float:center;padding:10px;margin:10px;-moz-user-select:none;
}
#tableA { background-color:#FF6666; width:800px; height:465px; }